/* Theme Settings */
:root {
  /* Button Template */
  --btn-color: rgb(227, 163, 6);
  --btn-color-hover: rgb(241, 189, 59);
  --btn-fnt-color: rgb(255, 255, 255);
  --btn-fnt-size: 1.2rem;
  --btn-font-weight: 600;
  --btn-border-radius: 1rem;
  --btn-width: 180px;
  --fnt-color: rgba(3, 33, 78, 1);

  /* Banner Template Settings */
  --banner-font-size: 5rem;
  --subtitle-font-size: 3rem;
  --subtitle-font-color: rgb(94, 94, 84);
}

/* Global Styles */
body {
  background-color: rgb(249, 249, 249);
  font-family: "Montserrat", sans-serif;
}

/* Important Parent Elements */
.parent-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Important Child Elements */
.child-container {
  position: absolute; /* Makes sure the content is on top of the particle.js */
  top: 0; /* Ensures it's always fixed to the top of the window, through the entire page. */ 
  margin: 200px auto; /* Centers the content and creates equal top and bottom margins. */
  z-index: 2; /* Overlays the div on top of particle.js */
  padding: 10px;
}

.btn {
  background-color: var(--btn-color); 
  color: var(--btn-fnt-color) !important; 
  border-radius: var(--btn-radius); 
  width: var(--btn-width); 
  font-weight: var(--btn-font-weight) !important;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--btn-color-hover);
}

/* Settings for each device. */

/* Mobile */
@media (max-width: 600px) {
  .child-container {
    max-width: 100%;
    min-width: 100%;
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 900px) {
  .child-container {
    max-width: 80%;
    min-width: 80%;
  }
}

/* Desktop */
@media (min-width: 901px) and (max-width: 1200px) {
  .child-container {
    max-width: 80%;
    min-width: 80%;
  }
}

/* Large Desktop */
@media (min-width: 1201px) {
  .child-container {
    max-width: 80%;
    min-width: 80%;
  }
}

/* Navbar animation */
.navbar {
    transition: 0.3s ease-in-out;
    max-height: 140px;
    transition-timing-function: cubic-bezier(5, 0, 0.2, 1); }

.navbar.scrolled {
    background-color: #fff;
    padding: 20px 30px !important;
     }

.logo {
    transition: 0.3s ease-in-out;
    height: 110px;
    transition-timing-function: cubic-bezier(5, 0, 0.2, 1); }

.close {
    transition: 0.3s ease-in-out; }

.scrolled .logo {
    height: 80px; }

.scrolled .close {
    scale: 0.8; }


/* Particle.js Container */
#particles-js {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    48deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(122, 180, 200, 1) 100%
  );
  z-index: 1; /* Underlays the entire page */
  position: fixed; /* Ensures the banner is always on the person's view. */
  top: 0; /* Ensures it's always fixed to the top of the window, through the entire page. */
}

/* Off-canvas Menu */
.offcanvas-collapse {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #000000;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  transform: translateX(-100%);
}

.off-canvas-item {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3em;
  padding: 0 15px;
  line-height: 1.7rem;
  letter-spacing: 1px;
}

.off-canvas-item a:hover {
  color: rgb(0, 0, 0);
}

.off-canvas-item a {
    color: white;
}

.nav-item.off-canvas-item ul li a:hover {
  text-decoration: none;
}

/* Material Symbols */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
  z-index: 9999;
}

/* Tool Block Animations */
.tool-link {
  bottom: 0;
  transition: 0.5s;
  padding: 12px;
  min-width: 175px;
  min-height: 150px;
}

.tool-link:hover {
  background-color: white;
  transform: scale(1.05);
  bottom: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

a:hover .icon {
  color: #f6b704;
}

/* Container */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Search Heading */
.search-heading {
  font-size: 36px;
  font-weight: normal;
  width: 100%;
  margin-bottom: 20px;
}

/* Tool Parent Link Container */
.link-container {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.link-container h3 {
  font-size: 35px;
}

.link-container .icon {
  width: 100px;
  height: auto;
}


/* Miscellaneous */
h3:hover {
  color: orange;
}


/* Tool Selection Container at Tool-Categories */
.tool-selection-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tool-selection-container .col-3 {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;

}


/* Tool Instruments Container at Tool-Instruments.php */



.instruments-menu .col {
  font-size: 1.7em;
  font-weight: 500;
}

.instruments-menu .col .bi {
  margin: 0px 10px 0px 0px;
}

.tool-instruments {
  margin-top: 70px;
}


/* Link overwrites */

.tool-instruments a {
  color: black;
}

.tool-instruments a:hover {
  color: orange;
  text-decoration: none;
}

.instruments-menu ul li {
  list-style: none;
  margin: 0px 0px 5px 20px;
}