body {
    background-color: rgb(236, 236, 236);
}

body * {
    font-family: 'Montserrat', sans-serif;
}


/* Theme Settings */
:root {
    /* Button Template */
    --btn-color: rgb(227, 163, 6);
    --btn-fnt-color: rgb(255, 255, 255);
    --btn-fnt-size: 1.2rem;
    --btn-font-weight: 600;
    --btn-border-radius: 0rem;
    --btn-width: 140px;

    /* Banner Template Settings */

    --banner-font-size: 5rem;
    --subtitle-font-size: 3rem;
    --subtitle-font-color: rgb(94, 94, 84);
}

/* Particle.js Settings */

canvas { 
    display: block; 
} 
.material-symbols-outlined {
z-index: 9999;
}
.navbar {
    
    padding: 20px;
}

#particles-js { 
    width: 100vw; 
    height: 100vh; 
    background: linear-gradient(48deg, rgba(255,255,255,1) 30%, rgba(122,180,200,1) 100%);
    z-index: 1;
}

/* Banner */
.banner-overlay {
    margin-top: -600px;
    z-index: 1000;
    position: relative;
    color: rgb(37, 37, 37);
    font-family: 'Roboto', sans-serif;
    
}

.offcanvas-collapse {
    position: fixed;
    top: 0px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
}

.offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
}

.off-canvas-item {

    font-weight: 900 !important;
    text-transform: UPPERCASE;
    font-size: 3em;
    padding: 0px 15px;
    line-height: 40px;
    letter-spacing: 1px;
}

.off-canvas-item a:hover {
    color: rgb(0, 0, 0) !important;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
  }
  .nav-item.off-canvas-item ul li a:hover {
    text-decoration: none;
  }
  
  .navbar-brand {
    position: absolute;
    top: 50px;
    left: 25px;
}

.material-symbols-outlined {
    position: absolute;
    top: 70px;
    right: 25px;
}

/* Mobile Optimizations */

@media (max-width: 576px) {
    .navbar-brand {
        left: 10px;
    }

    .material-symbols-outlined {
        right: 10px;
    }

    .jumbotron {
        margin-right: 0;
    }
}